/* You can add global styles to this file, and also import other style files */
@import url(https://unpkg.com/bootstrap@4.6.1/dist/css/bootstrap.min.css);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.WT-green{
    background-color: #00e600;
    color: black;
    font-weight: normal;
}

.WT-darkGreen{
    background-color: #008200;
    color: white;
    font-weight: normal;
}
