mat-sidenav {
    margin: 16 px;
    padding: 16px;
    width: 250px;
    text-align: center;
    background-color: black;
    color: #c8c8c8;
}

mat-sidenav-content {
    padding: 16px;
    position: absolute;

    text-align: center;
    color: black;
}

mat-sidenav-container {
    height: calc(100vh - 65px - 41px)
}

mat-divider {
    margin: 20px;
    background-color: black;
    color: black;
}

.bg-black{
    background-color: black;
}

.menu-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
