<h1> Mijn Boekingen </h1>

<div class="container">
    <h4> Reserveringen </h4>

    <table class="table">
        <thead>
            <tr>
                <th> Titel </th>
                <th> Datum reservering </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reservation of reservations">
                <td><div class="d-flex align-items-left"> {{reservation.book.title}} </div></td>
                <td> {{reservation.reservationDate}} </td>
                <td> <button (click)="removeReservation(reservation.id)" class="btn WT-green">Verwijder reservering</button> </td>
            </tr>
        </tbody>
    </table>
</div>

<br><br>

<div class="container">
    <h4> Leningen </h4>

    <table class="table">
        <thead>
            <tr>
                <th> Titel </th>
                <th> Datum opgehaald </th>
                <th> Datum ingeleverd </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let loan of loans">
                <td>{{ loan.bookTitle }}</td>
                <td>{{ loan.loanDate }}</td>
                <td>{{ loan.returnDate }}</td>
            </tr>
        </tbody>
    </table>

</div>
